__pycache__

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules/
.idea/
venv/
.env
.env-prod

# terraform
*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraformrc
terraform.rc

terraform/install/**
terraform/archives/**

terraform/secrets/*.env
*.lock
*.lock.hcl